.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurez-vous qu'il est au-dessus de tout autre contenu */
}

.loading-bar {
    width: 0;
    height: 5px;
    background-color: turquoise;
    transition: width 2s ease-in-out;
}