h1{
    font-family: 'Playfair Display', serif;
    font-size: 10vh;

    margin-bottom: 10px;
    
}


h2{
    font-family: 'Playfair Display', serif;
    font-size: 10vh;
    margin-bottom: 10px;
}


h3{
    font-family: 'Playfair Display', serif;
    font-size: 8vh;
    margin: 0;
    
}