@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: black;
  font-family: "Kay Pho Du", serif;
  color: whitesmoke;
}

.navbar {
  position: relative;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  padding-left: 20px;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 0px;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: background 1s ease-out, color 1s ease-in;
}
.nav-links a:hover {
  color: #131313;
  background: #e7e5e4;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.hero_banner {
  display: flex;
  flex-direction: row;
  height: 75vh;
  background-image: url("./images/banner_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}
.hero_banner_left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  border-bottom: 4px solid white;
}
.hero_banner_right {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  width: 20%;
  font-size: 3vh;
  background-color: rgba(100, 100, 100, 0.7);
  padding: 1%;
  border-radius: 10px;
  border: 2px solid white;
}

.social_btn {
  font-size: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 10vh;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  margin-bottom: 10px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 10vh;
  margin-bottom: 10px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 8vh;
  margin: 0;
}

/* État initial des images et paragraphes dans .projet_anim */
.projet_anim img, .projet_anim p {
  opacity: 0; /* Les rendre initialement invisibles */
  transition: opacity 0.5s ease-in-out; /* Transition douce pour l'opacité */
}

/* Lorsque la classe 'visible' est ajoutée, changer l'opacité */
.projet_anim.visible img, .projet_anim.visible p {
  opacity: 1;
}

/* Autres styles */
.projet_anim {
  position: relative;
}

.projet_anim img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 2;
}

.projet_anim p {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -3;
  margin: 0;
  padding: 0;
}

/* Styles pour .projet et autres éléments */
.projet {
  height: 20%;
  width: 100%;
  border-bottom: 4px solid white;
  overflow: hidden;
  position: relative;
}

.projet_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mywork {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 200px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 5vh;
  }
  h3 {
    font-size: 3vh;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .nav-links {
    padding: 0;
  }
  .hero_banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .hero_banner_right {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    justify-content: center;
  }
  .hero_banner_left {
    height: 100px;
  }
  .hero_banner h1 {
    margin-top: 0;
  }
}
footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

h4 {
  font-size: 1.5rem; /* Taille du titre */
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  text-decoration: none;
  color: #333; /* Couleur par défaut des icônes */
  font-size: 1.5rem; /* Taille de police par défaut des icônes */
  transition: color 0.3s, font-size 0.3s; /* Ajoute une transition de couleur et de taille de police */
}

.social-icons a:hover {
  font-size: 3rem; /* Augmente la taille de police de l'icône au survol */
}
.social-icons a:hover #chess {
  color: green;
}
.social-icons a:hover #github {
  color: purple;
}
.social-icons a:hover #videogames {
  color: darkblue;
}

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  display: none;
  background: rgba(88, 88, 88, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgb(88, 88, 88);
}

#popup-overlay.open {
  display: flex !important;
}

.pop-up_content {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  position: relative;
}
.pop-up_content p {
  margin: 20px 0;
}

.pop-up_link {
  text-decoration: none;
  color: white;
  background: black;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.pop-up_exit {
  position: absolute;
  top: -12px;
  right: -11px;
  text-decoration: none;
  font-size: 20px;
  color: red;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
form input {
  max-width: 30%;
}
form textarea {
  width: 90%;
  height: 4vw;
}/*# sourceMappingURL=main.css.map */