/* Carte de visite */

#Contact.section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  margin: 0 auto;
  width: 80vh;
  height: 100vh; /* Occuper toute la hauteur de la fenêtre */
}

.contact-card {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("../assets/profil_pic.jpg") no-repeat center center;
  background-size: cover;
}

.contact-info h3 {
  color: #fff;
  font-size: 24px;
}

.location {
  color: #fff;
  font-size: 18px;
}

.social-media-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* Formulaire de contact */
.contact-form {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form label {
  color: #fff;
  font-size: 16px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;

  border-radius: 5px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
}

.contact-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 1s ease transform 1s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
