body {
  background: black;
}

.bio_home {
  width: 15%;
  //   height: 55%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent noir */
  color: white;
  font-size: 12px;

  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  .bio_home {
    width: 75%;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
  }
}
