nav {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  width: 100%; /* Ajuster la largeur à 100% */
  gap: 20px;
}

button {
  color: white;
  background: black;
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent; /* Définir la bordure par défaut */
  transition: border-bottom 1s ease, transform 1s ease; /* Ajouter une transition fluide à la bordure et à la mise à l'échelle */
  font-size: 15px;
}

button:hover {
  font-style: italic;
  transform: scale(
    1.5
  ); /* Utiliser transform pour mettre à l'échelle l'élément */
  border-bottom: 2px solid white; /* Appliquer le border bottom au survol */
}

.nav-button {
  background: none; /* Si vous voulez un bouton transparent */
  border: none; /* Supprimez les bordures pour un look plus moderne */
  color: grey; /* Couleur par défaut du texte */
  cursor: pointer;
  font-size: 16px; /* Taille de police */
  padding: 10px 20px; /* Espacement autour du texte */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Animation douce */

  &:hover {
    color: white; /* Change la couleur au survol */
  }
}

.nav-button.active {
  color: white; /* Couleur du texte pour la section active */
  text-shadow: 0 0 10px white, 0 0 20px white; /* Effet de brillance */
}
