nav {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  width: 100%; /* Ajuster la largeur à 100% */
  gap: 20px;

  button {
    color: white;
    background: black;
    border: none;
  }

  button:hover {
    font-style: italic;
    scale: 1.5;
    border-bottom: 2px solid white;
  }
}
