@import "home.scss";
@import "police.scss";
@import "navbar.scss";
@import "projets.scss";
@import "infos.scss";
@import "contact.scss";
@import "background.scss";
@import "./dinogame";
@import "./carousel";

body {
  color: white;
  font-family: "Roboto Mono";
  display: flex;
  flex-direction: column;
}

.section {
  display: none; /* Masquer toutes les sections par défaut */
}

#Home {
  display: block; /* Afficher la section Home par défaut */
}

h1,
h2 {
  margin: 10px;
}
